.btn-gradient {
	color: white;
	background-color: green;
	padding: 15px 25px;
	background: linear-gradient(20deg,green,yellow);
	border-radius: 3px; 
	text-transform: uppercase;
	box-shadow: 4px 4px;
}

